<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExcelWorkbook2.Properties.Settings.kalkulacjeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=kalkulacje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>